@import "variables_one.css";
/* :root {
  --mainBackgorundColor: rgba(255, 255, 255, 0);
  --fontDancing-Script: "Dancing Script", sans-serif;
  --fontMontserrat: "Montserrat", sans-serif;
  --fontRoboto: "Roboto", sans-serif;
  --fontSize: 2vh;
  --fontColorBanner: rgb(116, 116, 116);
  --fontColorSwitch: rgb(220, 220, 220);
  --border-test: 0.5px dotted rgb(255, 8, 0);
  --border-banner: 0.5px solid rgb(220, 220, 220);
  --bannerBackgorundColor-White: rgb(255, 255, 255);
  --bannerBackgorundColor-Blue: rgba(227, 252, 255, 0.644);
  --boxShadow-Grey: 0 0 8px rgb(73, 73, 73);
  --colorTextButton:color: rgb(173, 68, 68);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  max-width: 1920px;
  height: 300vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  /* border: var(--border-test); */
}
.form {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.img {
  position: relative;
  background-repeat: no-repeat;
  top: 100px;
  width: 100%;
  height: calc(100vh - 400px);
}
.banner {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  font-family: var(--fontMontserrat);
  background-color: var(--bannerBackgorundColor-White);
  /* border-bottom: var(--border-banner); */
  display: inline-flex;
}
.logo {
  margin-left: 5vh;
  border: var(--border-test);
  display: inline-flex;
  justify-content: center;
  width: 5%;
}
.switch {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 1vw;
  /* height: 1vw; */
  border-radius: 2vw;
  border: var(--border-banner);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3%;
  color: var(--fontColorSwitch);
}
.fas {
  align-self: center;
  transform: scale(0.8);
  padding: 2px;
  cursor: pointer;
}
/* .dark{
  display: block;
} */
.light {
  display: none;
}
.logo:hover {
  cursor: pointer;
}
.logo img {
  transform: scale(0.5);
}
.rightButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
/*  */
.ban {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 40px;
  margin: 0 3vh;
  color: var(--fontColorBanner);
  /* border: var(--border-test); */
  cursor: pointer;
  transition: 0.1s;
}
.ban:hover {
  color: rgb(179, 96, 96);
}
.bigBtn {
  position: absolute;
  /* z-index: 1; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12vw;
  height: 20vw;
  border: var(--border-test);
  background-color: var(--bannerBackgorundColor-White);
  border-radius: 20px;
}
.yachtNice,
.sunny {
  opacity: 1;
  top: -25vw;
  left: 34vw;
  transition: 0.6s;
}
.yachtAgly,
.cold {
  opacity: 1;
  top: -25vw;
  left: 65vw;
  transition: 0.6s;
}

.yachtOn {
  top: 45%;
  transition: 0.6s;
}
.clearYachtOn {
  animation: movebigbtns 0.5s forwards;
}
@keyframes movebigbtns {
  0% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg) scale(0.3);
    top: -25%;
    opacity: 0;
  }
}
/*v tu klasy dla bannera v*/
.on {
  height: 6vh;
  font-size: var(--fontSize);
}
.off {
  height: 4vh;
  /* font-size: calc(var(--fontSize) / 1.3); */
  box-shadow: var(--boxShadow-Grey);
}
/*^ tu klasy dla bannera^ */

/* .changeColor {
  background-color: var(--bannerBackgorundColor-Blue);
} */
